@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand|Righteous|Amatic+SC|Quattrocento+Sans|Staatliches|Cabin+Condensed:600|Montserrat');


html {
  background-color: #fdfffc;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.renderFade {
  animation: fadein 0.2s;
}

.loading-cont {
  @include flex(row, center, flex-start);
  width: 100%;
  height: 100%;
  margin-top: 100px;

  svg {
    width: 50px;
    height: 50px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
