@import "./App.scss";

#no-coll-cont {
  @include flex(column, flex-start, center);
  margin-top: 40px;

  #searchLink {
    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  #suggestions {
    @include flex(column, flex-start, center);
    font-family: 'Cabin Condensed';
    font-size: 22px;
    margin-top: 30px;

    #suggestions-row {
      @include flex(row, center, flex-start);
      margin: 20px;
      flex-wrap: wrap;
    }

    #suggestions-msg {
      font-family: 'Montserrat';
      font-size: 18px;
      margin-top: 20px;
      border-bottom: 1px solid black;
      padding: 5px;
    }
  }
}

#coll-cont {
  @include flex(column, flex-start, center);
  margin: 40px;
  font-family: 'Montserrat';

  #filter-list {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;

    .filter {
      border: 1px solid black;
      padding: 5px;
      margin: 5px;
      border-radius: 2px;
      transition: background-color 0.4s;
      cursor: pointer;
      background-color: white;
      color: black;

      &:hover {
        background-color: #ededed;
      }
    }

    .fselec {
      background-color: black;
      color: white;

      &:hover {
        background-color: #474747;
      }
    }
  }

  #coll-row {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    margin: 20px;
  }

}

.posterDiv {
  @include flex(row, center, center);
  margin: 4px;
  position: relative;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;

    img {
      filter: brightness(50%);
    }

    svg {
      opacity: 1;
    }
  }

  svg {
    position: absolute;
    z-index: 100;
    margin: 5px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    right: 0;

    &:hover {
      transform: scale(0.9);
    }
  }

  img {
    height: 200px;
    border-radius: 2px;
    animation: fadein 1s;
    transition: filter 0.5s;
  }
}

@media (min-width: 320px) and (max-width: 400px) {

  #no-coll-cont {

    #searchLink {
      font-size: 12px;
      padding: 3 5 3 5;
    }

    #suggestions {
      font-size: 14px;
      margin-top: 20px;

      #suggestions-msg {
        font-size: 12px;
        margin-top: 20px;
        padding: 5px;
      }
    }

    .posterDiv {

      &:hover {
        transform: none;

        img {
          filter: brightness(100%);
        }
      }

      img {
        height: 150px;
        filter: brightness(100%);
      }

      svg {
        width: 20px;
        height: 20px;
        opacity: 1;
        transition: none;
        background-color: black;
        padding: 1px;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

        &:hover {
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  #coll-cont {
    font-size: 12px;
    margin: 20 5 5 5;

    #add-more {
      text-align: center;
      margin: 0 10 0 10;
    }

    #filter-list > .filter {
      padding: 3px;
      margin: 3px;
      font-size: 10px;
    }

    .posterDiv {

      &:hover {
        transform: none;

        img {
          filter: brightness(100%);
        }
      }

      img {
        height: 120px;
        filter: brightness(100%);
      }

      svg {
        width: 20px;
        height: 20px;
        opacity: 1;
        transition: none;
        background-color: black;
        padding: 1px;
        border-radius: 5px;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }

  #coll-row {
    margin: 0;
  }
}
