@import "./App.scss";

#home-top-cont {
  width: 100%;

  @include xs {
    @include flex(column-reverse, flex-start, center);
    height: auto;
  }
  @include md {
    @include flex(row, flex-start, flex-start);
    height: 500px;
  }

  #home-title-sec {

    @include xs {
      @include flex(column, flex-start, center);
      margin: 10px;
      height: auto;
    }

    @include md {
      @include flex(column, center, flex-start);
      width: 40%;
      margin: 0;
      height: 100%;
    }

    #home-title {
      position: relative;
      font-family: "Amatic SC";

      @include xs {
        left: 0px;
        font-size: 60px;
      }

      @include md {
        left: 50px;
        font-size: 70px;
      }

      @include lg {
        left: 80px;
        font-size: 80px;
      }
    }

    #home-slogan {
      position: relative;
      margin: 0;
      font-family: "Quicksand";

      @include xs {
        left: 0px;
        font-size: 15px;
      }

      @include md {
        left: 50px;
        font-size: 15px;
      }

      @include lg {
        left: 80px;
        font-size: 20px;
      }
    }

    #auth {
      @include flex(row, flex-start, flex-start);
      position: relative;
      top: 15px;

      @include xs {
        left: 0px;
      }

      @include md {
        left: 50px;
      }

      @include lg {
        left: 80px;
      }

      a {
        text-decoration: none;
        font-family: "Righteous";
        color: black;
        margin-right: 10px;

        @include xs {
          font-size: 15px;
        }

        @include md {
          font-size: 18px;
        }
      }
    }
  }

  #home-pic-sec {
    position: relative;

    @include xs {
      @include flex(column, flex-start, center);
      width: 100%;
      height: auto;
    }

    @include md {
      @include flex(column, center, flex-end);
      width: 60%;
      right: -100px;
      height: 100%;
    }

    @include lg {
      right: 0;
    }

    #home-banner {
      width: 700px;

      @include xs {
        width: 170%;
      }

      @include sm {
        width: 120%;
      }

      @include md {
        width: 100%;
      }

      @include lg {
        width: 100%;
      }
    }
  }
}
