@import "./App.scss";

#home-cont {
  @include flex(column, flex-start, center);
  width: 100%;
}

#search-title {
  font-family: 'Quicksand';
  font-size: 25px;
  margin: 40 0 0 0;
}

#search-bar {
  margin: 20px;
  width: 800px;
  height: 50px;
  font-size: 20px;
  font-family: 'Quicksand';
  padding: 5 10 5 10;
  background-color: #fdfffc;
  border: 1px solid #a0a0a0;
  transition: border-color 0.5s;
  border-radius: 3px;

  &::placeholder {
    opacity: 0.6;
  }

  &:focus {
    border: 1px solid black;
  }
}

#results-cont {
  width: 800px;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid #a0a0a0;
  border-radius: 3px;

  .result-row {
    @include flex(row, flex-start, flex-start);
    border-bottom: 1px solid #a0a0a0;
    height: 150px;

    .show-info {
      @include flex(column, flex-start, flex-start);

      .show-name {
        font-size: 20px;
        font-family: "Staatliches";
        margin: 10 0 10 0;
      }

      .show-overview {
        font-size: 14px;
        font-family: "Quicksand";
      }
    }

    img {
      margin: 10px;
      min-width: 80px;
      max-width: 80px;
    }
  }
}
