@import "./App.scss";

#nav-cont {
  @include flex(column, flex-start, center);
  width: 100%;
}

#nav-bar {
  @include flex(row, center, center);
  position: relative;
  width: 90%;
  height: 75px;

  .nav-item {
    @include flex(column, flex-start, flex-start);
    margin: 0 15px 0 15px;
    font-size: 22px;
    font-family: 'Cabin Condensed';
    cursor: pointer;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;

    &:hover {

      .sliding-border {
        animation: sliding-border-out 0.7s forwards ease-out;
      }
    }

    .nav-item-inner {
      @include flex(row, flex-start, center);

      p {
        margin-left: 5px;
        transition: color 0.4s;
      }
    }

    .sliding-border {
      margin-top: 2px;
      height: 1px;
      background-color: #b5b3b3;
      width: 0px;
    }

    .border-in {
      animation: sliding-border-in 0.5s forwards ease-out;
    }
  }

  #home-link {
    position: absolute;
    left: 0;
  }
  #logout-link {
    position: absolute;
    right: 0px;
  }

  svg {
    transition: stroke 0.4s;

    &:hover {
      stroke: #ba8814;
    }
  }
}

#bottom-nav-border {
  height: 1px;
  width: 90%;
  background-color: #828282;
}

@keyframes sliding-border-out {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes sliding-border-in {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}
