@import "./App.scss";

#nav-cont {
  @include flex(column, flex-start, center);
  width: 100%;
}

#nav-bar {
  @include flex(row, center, center);
  position: relative;
  width: 90%;

  @include xs {
    height: 50px;
  }

  @include sm {
    height: 55px;
  }

  @include md {
    height: 65px;
  }

  @include lg {
    height: 75px;
  }

  .nav-item {
    @include flex(column, flex-start, flex-start);
    margin: 0 15px 0 15px;
    font-family: 'Cabin Condensed';
    cursor: pointer;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;

    @include xs { font-size: 11px; }
    @include sm { font-size: 14px; }
    @include md { font-size: 18px; }
    @include lg { font-size: 22px; }

    &:hover {

      .sliding-border {

        @include lg {
          animation: sliding-border-out 0.7s forwards ease-out;
        }
      }
    }

    .nav-item-inner {
      @include flex(row, flex-start, center);

      p {
        margin-left: 5px;
      }

      svg {
        @include xs {
          width: 15px;
          height: 15px;
        }

        @include sm {
          width: 20px;
          height: 20px;
        }

        @include md {
          width: 25px;
          height: 25px;
        }
      }

    }

    .sliding-border {
      margin-top: 2px;
      height: 1px;
      background-color: #b5b3b3;
      width: 0px;
    }

    .border-in {
      @include lg {
        animation: sliding-border-in 0.5s forwards ease-out;
      }
    }
  }

  #home-link {
    position: absolute;
    left: 0;

  }
  #logout-link {
    position: absolute;
    right: 0px;
  }

  .corner-links {
    transition: stroke 0.4s;

    @include xs {
      width: 15px;
      height: 15px;
    }

    @include sm {
      width: 20px;
      height: 20px;
    }

    @include md {
      width: 25px;
      height: 25px;
    }

    &:hover {
      @include lg {
        stroke: #ba8814;
      }
    }
  }
}

#bottom-nav-border {
  height: 1px;
  width: 90%;
  background-color: #828282;
}

@keyframes sliding-border-out {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes sliding-border-in {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}
