@import "./App.scss";

#sched-cont {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
  margin: 40px;

  #week {
    margin-right: 50px;
  }

  .sched-sec {
    @include flex(column, flex-start, center);
    width: 450px;;
    border: 1px solid #a5a5a5;
    border-radius: 2px;

    .sched-title {
      font-family: 'Staatliches';
      font-size: 22px;
      padding: 10px 0 10px 0;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #a5a5a5;
    }

    .sched-list {
      @include flex(column, flex-start, flex-start);
      width: 100%;
      min-height: 300px;

      #no-listings {
        @include flex(row, center, flex-start);
        width: 100%;
        margin: 10px;
        font-family: 'Montserrat';
        font-size: 15px;
        font-style: italic;
      }

      .sched-item {
        @include flex(row, flex-start, flex-start);
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: background-color 0.5s;

        &:hover {
          background-color: #efefef;
        }

        img {
          width: 70px;
          cursor: pointer;
        }

        .show-info {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          height: 100%;
          cursor: pointer;

          .name-date-cont {
            @include flex(row, space-between, center);
            width: 100%;

            .show-name {
              font-family: 'Montserrat';
              font-size: 13px;
              border: 1px solid black;
              border-radius: 3px;
              margin-left: 5px;
              padding: 2 4 2 4;
            }

            .episode-date {
              font-family: 'Cabin Condensed';
              font-size: 14px;
              margin-left: 5px;
            }
          }

          .episode-name {
            font-family: 'Montserrat';
            font-size: 13px;
            margin: 5 0 0 5;
            font-style: italic;
          }
        }
      }
    }
  }
}

#expand-cont {

  #show-box {
    @include flex(row, flex-start, flex-start);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 600px;
    border: 1px solid #bcbcbc;
    background-color: white;
    border-radius: 3px;
    z-index: 103;
    opacity: 0;

    #close-icon {
      cursor: pointer;
    }
  }

  #dim-cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 102;
    background-color: black;
  }
}

.open {
  animation: fadein 0.5s forwards;
}

.close {
  animation: fadeout 0.5s forwards;
}

.dim {
  animation: fadeinhalf 0.5s forwards;
}

.glow {
  animation: fadeouthalf 0.5s forwards;
}

@keyframes fadeinhalf {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeouthalf {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
